.footer{
    background-color: #252020;
    color: #909090;
    margin: 0;
}
.footer > div > h3{
    color: white;
}
.footer-element{
    padding: 0px 15px;
/*IMAO SAM VEOMA CUDAN BAG SA BELIM PROSTOROM KAD JE OVDE BIO OVAJ PADDING I .FOOTER PADDING = 0*/
}
.footer-element > p{
    font-size: 14px;
}
.footer-element > span > a{
    color: #29ca8e;
    width: 50px;
}
/*.footer-element > span > a:active{
    color: white;
    background-color: #29ca8e;
}*/
.email-styled{
    color: unset;
    text-decoration: unset;
}
.footer-element > input{
    background-color: transparent;
    border-right: transparent;
    color: white;
    padding: 1vh;
    width: 100%;
}
#newsletterButton{
    margin-top: 5vh;
    width: 50%;
}
@media (min-width: 768px){
    .footer{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-element{
        padding: 15px;
        width: 50%;
    }
}
@media (min-width: 992px){
    .footer{
        justify-content: space-between;
        /*padding je veliki na max size pa sam mislio da je ovo lepse*/
    }
    .footer-element{
        width: 32%;
    }
}