.student-reviews {
    background-color: #f9f9f9;
}
.reviews-headings {
    text-align: center;
    padding: 50px 0 ;
}
.reviews-headings h1 {
    margin-bottom: 0;
}
.reviews-headings p {
    font-size: 20px;
    margin-top: 0;
}
.review-card {
    background-color: white;
    padding-bottom: 40px;
}
.review-img-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.review-img-info {
    display: flex;
    position: relative;
    padding-left: 30px;
    top: 30px
}
.review-card-about {
    position: relative;
    left: 15px;
    
}
.review-card-about p{
    margin-bottom: 0;
    margin-top: 0;
}
.review {
    margin: 40px 10px 0 30px;
}
.stars-rate {
    display: flex;
    color:#3f51b5;
    position: relative;
    padding-left: 30px;
}
.course-circles {
    position: relative;
    padding: 70px 0;
    text-align: center;
}
.course-circles input {
    color: rgb(233, 227, 227);
    height: 20px;
    width: 20px;
}
.course-circles {
    display: flex;
    justify-content: center;
}
#circleLeft{   
    height: 10px;
    width: 10px;
    color: rgb(180, 179, 179);
    border-radius: 50%;
    border: solid 1px darkgray;
}
#circleRight{   
    height: 10px;
    width: 10px;
    color: rgb(180, 179, 179);
    border-radius: 50%;
    border: solid 1px darkgray;
}

.course-circles div{
    margin-right: 30px;
}
#circleLeft:hover {
    background-color: darkgray;
}
#circleRight:hover {
    background-color: darkgray;
}


@media only screen and (min-width: 768px) {

    
    .review-card {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding-bottom: 40px;
    }
    .course-circles-mobile {
        display: none;
    }
    .course-circles-tablet {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 50px 0 70px 0;
    }
    .course-circles-tablet i {
        color: lightgray;
        height: 20px;
        width: 20px;
}

@media only screen and (min-width: 992px) {

    .review-cards {
        display: flex;
    }
    .course-circles {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 50px 0 70px 0;
    }
    
}