
.icon-and-heading {
    display: flex;
    padding: 20px 0;
}
.text-on-slider {
    font-weight: 700;
}
.text-icon-next {
    width: 85%;
}
.text-icon-next h2{
    margin: 0;
    position: relative;
    left: 10px;
}
.text-icon-next p{
    margin:0 10px;   
}
.icon {
    width: 15%;
    align-self: center;
}
.icon i{
    height: 50px;
    width: 50px;
    color: white;
    background-color: #29ca8e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

/* FORM */
.sign-up {
    margin-top: 40px;
    padding: 0 10px;
    background-color: #252020;
}
.form-sign {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
   
}
#heading-signup {
    color: white;
    text-align: center;
    position: relative;
    bottom: 15px;
    margin: 10px
}
.form-sign input {
    background-color: #252020;
    color: white;
    border: none;
    border-bottom: solid 1px  rgb(197, 197, 197);
    padding: 20px 0 20px 10px;
    font-family: 'Mulish';
    
}
#get-started {
    background-color: white;
    color: #252020;
    width: 110px;
    margin-top: 30px;
    align-self: center;
    border-radius: 30px;
    padding-left: 0;
    font-family: 'Mulish';
    
}


@media only screen and (min-width: 768px) {

    .text-icon-next {
        width: 60%;
    }

    .sign-up {
        border-radius: 50%;
        height: 70vw;
        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 20px;
    }
    .start-journey-form {
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-sign {
        padding: 0;
        width: 300px;
    }
    #get-started {
        width: 150px;
    }
    
}

@media only screen and (min-width: 992px) {

    .start-journey-form {
        flex-direction: row;
        margin-bottom: 0px;
        align-items: center;
    }
    .start-journey-left {
        width: 50%;
        position: relative;
        top: 20px;
    }
    .sign-up {
        height: 500px;
        width: 500px;    
    }

}