.teachers {
    background-color: #f9f9f9;
}
.teacher-card {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.teacher-headings {
    display: none;
}
.teacher-img {
    padding-top: 75px;
}
.teacher-img  img {
    width: 100%;
}
.teacher-pic {
    padding-bottom: 0;
}
.teacher-a {
    padding-bottom: 0;
}
.teacher-data {
    background-color: white;
    padding: 0 0 0 20px;
    height: 100px; 
    position: relative;
    bottom: 5px; 
}
.teacher-data p{
    position: relative;
    padding: 10px 0 0 0px;
    margin-top: 5px;
}
.teacher-name {
    font-size: 20px;
    /*padding-top: 15px;*/
    margin-bottom: 2px;
    
}
.teacher-social {
    background-color: white;
    height: 70px;
    position: relative;
    top: 3px;
}
.teacher-social i{
    position: relative;
    left: 20px;
    margin-right: 15px;
    top: 25px;   
}


@media only screen and (min-width: 768px){
    
    .teachers {
        display: flex;
        flex-direction: column;
    }
    .teacher-headings {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    }
    .teacher-headings p {
        margin-top: 0;
    }
    .teacher-headings h1 {
        margin-bottom: 0;   
    }
    .teacher-card {
        width: 50%;
        padding-top: 50px;
    }

    .all-teacher-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .teacher-img {
        padding-top: 0;
    }
}

@media only screen and (min-width: 992px) {

    .all-teacher-cards {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 15px;
    }
    .teacher-card {
        width: 25%;
        position: relative;
       


    }
}