.student-reviews{
    background-color: #f9f9f9;
}
.students-slider{
    /*DISABLE IF BIG RESOLUTION!!!*/
    /*actually, I made it work on big screens, SOMEWHAT*/
    width: 100%;
    /*height: 600px;*/
    display: flex;
    overflow: hidden;
    /*kad sam poceo da pravim slajder, nakrivili su se krugovi profilnih slika i malo se vidi plavo iza*/
}
.students-box{
    /*ONLY FOR SLIDER*/
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
}
.student-element{
    background-color: white;
    padding: 25px;
    margin-bottom: 4vh;
    margin-left: 10px;
    margin-right: 10px;
    /*SLIDER PROPERTIES*/
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
}
.student-element > .small-paragraph{
    display: flex;
}
.student-element > .small-paragraph > h2{
    width: 60px;
    height: 60px;
}
.student-element > .small-paragraph > h2 > img{
    max-width: 100%;
    border-radius: 50%;
    margin-right: 15px;
    /*malo se razvlaci slika, cini mi se*/
}
.student-element > .small-paragraph > div{
    padding-left: 20px;
    width: calc(100% - 60px);/*60px bi trebala da bude slika*/
}
.student-element > .small-paragraph > div > h3{
    margin-bottom: 0;
}
.student-element > .small-paragraph > div > p{
    margin-top: 0;
}
.student-element > p > i{
    color: #3f51b5;
    font-size: 14px;
}
.slider-links{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.slider-links > li{
    text-decoration: none;
    list-style: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    color: #d6d6d6;
    background-color: #d6d6d6;
}
.slider-links > li:hover{
    color: #869791;
    background-color: #869791;
}
.slider-links > li > a:active{
    color: #869791;
    background-color: #869791;
}
.slider-links > li > a:visited{
    color: unset;
}
@media (min-width: 992px){
    .student-element{
        width: calc(100% / 3 - 20px);/*minus margine*/
    }
}
