* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #252020;
  color: white;
  padding: 30px 10px;
}

footer h2 {
  margin-top: 40px;
}

footer .social-icons-headquarter {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

footer .social-icons-headquarter div {
  color: rgb(18, 219, 18);
  margin-right: 20px;
  padding: 30px 0px;
}

footer input {
  background-color: transparent;
  border-right: transparent;
  color: white;
  padding: 10px;
  width: 100%;
  margin-bottom: 30px;
}

footer button {
  color: #ffffff;
  font-size: 14px;
  padding: 14px 20px;
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid white;
  outline: none;
  width: 50%;
  margin-bottom: 30px;
}

@media screen and (min-width: 992px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  footer {
    display: flex;
    flex-direction: row;
    background-color: #252020;
    color: white;
    padding: 30px calc((100% - 900px) / 2);
  }

  footer .footer-three {
    width: 33%;
    padding-right: 20px;
  }

  footer h2 {
    margin-top: 40px;
  }

  footer .social-icons-headquarter {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
  }

  footer .social-icons-headquarter div {
    color: rgb(18, 219, 18);
    margin-right: 20px;
    padding: 30px 0px;
  }

  footer input {
    background-color: transparent;
    border-right: transparent;
    color: white;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
  }

  footer button {
    color: #ffffff;
    font-size: 14px;
    padding: 14px 20px;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid white;
    outline: none;
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #252020;
    color: white;
    padding: 30px 20px;
    width: 100%;
  }

  footer .footer-three {
    width: 50%;
    /* padding-right: 20px; */
  }

  footer h2 {
    margin-top: 40px;
  }

  footer .social-icons-headquarter {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
  }

  footer .social-icons-headquarter div {
    color: rgb(18, 219, 18);
    margin-right: 20px;
    padding: 30px 0px;
  }

  footer input {
    background-color: transparent;
    border-right: transparent;
    color: white;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
  }

  footer button {
    color: #ffffff;
    font-size: 14px;
    padding: 14px 20px;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid white;
    outline: none;
    width: 100%;
    margin-bottom: 30px;
  }
}
