* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blue-form {
  background-color: #3f51b5;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
}

.blue-form .contact-us {
  display: flex;
  flex-direction: column;
}

.blue-form .blue-form-img img {
  width: 100%;
  height: auto;
  padding-top: 10px;
}

.blue-form .contact-us p {
  padding-bottom: 20px;
}

.blue-form .contact-us input {
  height: 40px;
  border: none;
  border-radius: 2%;
  margin-bottom: 10px;
  padding-left: 10px;
}

.blue-form .contact-us textarea {
  resize: none;
  margin-bottom: 10px;
  border-radius: 2%;
}

.blue-form .contact-us button {
  height: 40px;
  border: none;
  background-color: white;
  /* margin-bottom: 70px; */
  color: black;
  font-size: 14px;
  border-radius: 25px;
  outline: none;
}

@media screen and (min-width: 992px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .blue-form {
    background-color: #3f51b5;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px calc((100% - 900px) / 2);
  }

  .blue-form .contact-us {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 10px;
  }

  .blue-form .blue-form-img {
    width: 50%;
    padding-left: 10px;
  }

  .blue-form .blue-form-img img {
    width: 100%;
    height: auto;
  }

  .blue-form .contact-us p {
    padding-bottom: 20px;
  }

  .blue-form .contact-us input {
    height: 40px;
    border: none;
    border-radius: 2%;
    margin-bottom: 10px;
    padding-left: 10px;
  }

  .blue-form .contact-us textarea {
    resize: none;
    margin-bottom: 10px;
    border-radius: 2%;
  }

  .blue-form .contact-us button {
    height: 40px;
    border: none;
    background-color: white;
    /* margin-bottom: 70px; */
    color: black;
    font-size: 14px;
    border-radius: 25px;
    outline: none;
  }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .blue-form {
    background-color: #3f51b5;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
  }

  .blue-form .contact-us {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding-right: 10px; */
  }

  .blue-form .blue-form-img {
    width: 100%;
    /* padding-left: 10px; */
  }

  .blue-form .blue-form-img img {
    width: 100%;
    height: auto;
    padding-top: 30px;
  }

  .blue-form .contact-us p {
    padding-bottom: 20px;
  }

  .blue-form .contact-us input {
    height: 40px;
    border: none;
    border-radius: 2%;
    margin-bottom: 10px;
    padding-left: 10px;
  }

  .blue-form .contact-us textarea {
    resize: none;
    margin-bottom: 10px;
    border-radius: 2%;
  }

  .blue-form .contact-us button {
    height: 40px;
    border: none;
    background-color: white;
    /* margin-bottom: 70px; */
    color: black;
    font-size: 14px;
    border-radius: 25px;
    outline: none;
  }
}
