
.reviwes {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 60px;
    background-color: #f9f9f9;
}
.reviwes-items {
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
}
.carousel-rev-items {
    display: flex;
    height: 100%;
    width: 400%;
}
.reviwes-item {
    flex-basis: 100%;
    display: flex;
}
.reviwes h2 {
    width: 100%;
    align-self: center;
    text-align: center;
    padding-top: 20px;
}
.reviwes p {
    width: 100%;
    align-self: center;
    text-align: center;
    padding-bottom: 20px;
}
.reviwes-student {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    padding: 50px 0 0 20px;
}
.reviwes-item-img img {
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
}
.reviwes-student {
    text-align: left;
}
.reviwes-item-name {
   margin-left: 10px;
   align-self: center;
}
.reviwes-item-text {
    background-color: white;
    padding: 10px 20px 0 20px;
}
.reviwes-item-text p {
    text-align: left;
}
.reviwes-mark {
    background-color: white;
    padding: 0 0 60px 20px;
}
.reviwes-mark i {
    color: #3f51b5;
}
.reviwes-slide-icon {
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
    color: lightgray;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.reviwes-slide-icon i {
    padding-bottom: 40px;
    padding-right: 10px;
}
.active {
    color: rgb(82, 101, 116);
}
.reviwes-slide-icon i {
    transform: translate(-50%);
}
.reviwes-item {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 992px) {
    .reviwes {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .reviwes h1, p {
        width: 100%;
    }
    .reviwes-item {
        margin: 0;
        padding: 10px;
        width: 350px;
    }
    .reviwes-items {
        width: 350px;
        height: 400px;
    }
    .carousel-rev-items {
        display: flex;
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
    }
    .reviwes-slide-icon {
        width: 100%;
    }
    .reviwes-item-text {
        height: 100%;
    }
    
}