.course-card-bigger{
    padding-bottom: 70px;
}
.info-course-bigger{
    background-color: #f9f9f9;   
}
.course-img-bigger img{
    width: 100%;
    position: relative;
}
.info-course-bigger {
    position: relative;
    bottom: 25px;
}
.info-course-bigger h2 {
    padding-top: 10px;
    position: relative;
    left: 10px;
}
.info-course-bigger p {
    position: relative;
    left: 10px;
    margin-bottom: 5px;
}
#course-date-bigger {
    position: relative;
    bottom: 222px;
    left: 15px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    width: 100px;
}
#course-time-bigger {
    position: relative;
    bottom: 250px;
    left: 110px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    width: 70px;
}
#course-pay-bigger{
    position: relative;
    top: -25px;
}

.course-pay {
    background-color: #f9f9f9;
    position: relative;
    bottom: 112px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.course-pay img {
    width: 50px;
    height: 50px;
    border-radius: 50%;   
}
.course-pay p {
    position: relative;
    right: 40px;
}
.course-pay button {
    width: 65px;
    height: 35px;
    color: white;
    background-color: #29ca8e;
    border-radius: 5px;
    border: none;
}
#share {
    display: none;
}
#free {
 background-color: #3f51b5;
}

@media only screen and (min-width: 768px) {

    .info-course-bigger p{
        padding-bottom: 15px;
      }
      #course-pay-bigger {
          position: relative;
          bottom: 20px;
      }
      #course-date-bigger,
      #course-time-bigger {
          font-size: 16px;
          font-weight: 500;
          width: 120px;
      }
      #course-date-bigger {
        position: absolute;
        bottom: 130px;
        left: 40px;
    }
    #course-time-bigger {
        position: absolute;
        bottom: 130px;
        left: 170px;
    }
}

@media only screen and (min-width: 992px) {

    .course-card-bigger {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
    .course-img-bigger {
        width: 50%;
    }
    .course-img-bigger img {
        width: 90%;
    }
    #course-pay-bigger {
        display: none;
    }
    .info-course-bigger {
        width: 50%;
        position: relative;
        top: 0px;
        background-color: white;
    }
    #course-date-bigger {
        color: black;
        padding-bottom: 0;
        position: absolute;
        bottom: 0px;
        left: 10px;
    }
    #course-time-bigger {
        color: black;
        padding-bottom: 0;
        position: absolute;
        bottom: 0;
    }
    #share {
        display: initial;
        font-size: 30px;
        margin:  0 20px 16px 0;
        position: absolute;
        right: 5px;
        bottom: 0;
    }
}