.basic-info {
    padding-top: 30px;
}
.basic-info-part{
    border: solid 2px rgb(216, 214, 214);
    padding: 35px 45px;
    margin-bottom: 10px;
}
.number p {
    width: 50px;
    height: 50px;
    background-color: #3f51b5;
    color: white;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 25px;
    
}

@media only screen and (min-width: 768px) {
    
    .basic-info {
        display: flex;
        justify-content: space-between;
    }
    .basic-info-part {
        width: calc(100%-1/3);
        margin-right: 10px;
    }
    .basic-info-part :last-child {
        margin-right: 0;
    }
}

@media only screen and (min-width: 992px){

    .basic-info {
        padding-bottom: 20px;
    }
    .basic-info-part {
        padding-top: 90px;
        padding-bottom: 90px;
    }


}