.contact-us {
    background-color:#3f51b5;
    color: white;
}
.contact-us-headings {   
    padding-top: 50px;
}
.contact-us-headings h1 {
    margin-bottom: 0;
}
.contact-us-headings p {
    font-size: 20px;
    margin-top: 0;
    padding-bottom: 15px;
}
.contact-us-form form{
    display: flex;
    flex-direction: column;
    color: #3f51b5;
    width: 100%;
    
}
.contact-us-form input {
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #3f51b5;
    border: none;
    padding-left: 10px;
    font-family: 'Mulish';
}
.contact-us-form textarea {
    border-radius: 5px;
    color:#3f51b5 ;
    border: none;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Mulish';
}
#send-message {
    color: #3f51b5;
    background-color: white;
    border-radius: 25px;
    margin-top: 10px;
}
.contact-us-picture {
    padding: 40px 0;
}
.contact-us-picture img {
    width: 100%;
}


@media only screen and (min-width: 768px){

    .contact-us-headings-and-form {
        padding-bottom: 30px;
    }

}
@media only screen and (min-width: 992px) {

    .contact-us {
        display: flex;
    }
    .contact-us-headings-and-form {
        width: 50%;
        flex-direction: column;
        padding-right: 10px;
    }
    .contact-us-picture {
        width: 50%;
        padding-left: 10px;
    }
    .contact-us-form {
        position: relative;
        bottom: 15px;
    }
    .contact-us-headings {
        padding-top: 10px;
        padding-bottom: 0;
    }
    #send-message {
        width: 33%;
    }
}