.student-reviews {
    background-color: #f9f9f9;
}
.reviews-headings {
    text-align: center;
    padding: 50px 0 ;
}
.reviews-headings h1 {
    margin-bottom: 0;
}
.reviews-headings p {
    font-size: 20px;
    margin-top: 0;
}
#review-card-Andrio,
#review-card-Camila {
    display: none;
}
#review-card-Jackson {
    background-color: white;
    padding-bottom: 40px;
}
.review-img-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.review-img-info {
    display: flex;
    position: relative;
    padding-left: 30px;
    top: 30px
}
.review-card-about {
    position: relative;
    left: 15px;
    
}
.review-card-about p{
    margin-bottom: 0;
    margin-top: 0;
}
.review {
    margin: 40px 10px 0 30px;
}
.stars-rate {
    display: flex;
    color:#3f51b5;
    position: relative;
    padding-left: 30px;
}
.course-circles-mobile {
    position: relative;
    padding: 70px 0;
    text-align: center;
}
.course-circles-mobile i {
    color: lightgray;
    height: 20px;
    width: 20px;
}
#dark-circle {
    color: darkgrey;
}
.course-circles-tablet,
.course-circles-PC {
    display: none;
}

@media only screen and (min-width: 768px) {

    #review-card-Jackson {
        display: none;
    }
    #review-card-Camila {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding-bottom: 40px;
    }
    .course-circles-mobile {
        display: none;
    }
    .course-circles-tablet {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 50px 0 70px 0;
    }
    .course-circles-tablet i {
        color: lightgray;
        height: 20px;
        width: 20px;
}

@media only screen and (min-width: 992px) {

    .review-cards {
        display: flex;
    }
    .review-card {
        width: calc( 100% / 3);
    }
    #review-card-Andrio,
    #review-card-Jackson {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin-right: 20px;
        padding-bottom: 100px;
        padding-top: 40px;
    }
    #review-card-Camila {
        padding-bottom: 100px;
        padding-top: 40px;
    }
    .course-circles-tablet {
        display: none;
    }
    .course-circles-PC {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 50px 0 70px 0;
    }
    .course-circles-PC i {
        color: lightgray;
        
    }
    #dark-circle {
        position: relative;
        right: 2px;
    }
}