
.slider {
  position: relative;
}
.slider-img {
    overflow: hidden;
}
.slider-img img {
    width: 100%; 
}
.text-on-slider-mobile {
    color: white;
    position: absolute;
    top: 20px;
    z-index: 1000;
}
.text-on-slider-other-devices {
    display: none;
}
.slider-button {
    margin-top: 5px;
    background: none;
    border: solid 2px white;
    width: 120px;
    height: 40px;
    border-radius:35px;
    color: white;
}

@media only screen and (min-width: 768px){
    
    .slider-img {
        height: 500px;
    }
    .text-on-slider-mobile {
        display: none;
    }
    .text-on-slider-other-devices {
        display: flex;
        flex-direction: column;
        color: white;
        position: absolute;
        top: 120px;
        width: 600px;
        }
}

@media only screen and (min-width: 992px){
    
    .slider-img {
        height: 600px;
    }
    .slider h1 {
        font-size: 45px;
    }
    .text-on-slider-other-devices h1{
        margin-bottom: 20px;
        width: 600px;
    }
    .text-on-slider-other-devices p{
        margin: 0 0 30px 0;
        width: 700px;
        font-size: 20px;
    }
}