*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish';
}

@font-face {
    font-family: 'Mulish';
    src:url(../../../fonts/Mulish/Mulish-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Nunito';
    src: url(../../../fonts/Nunito/Nunito-SemiBold.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito';
}

.slider,
.teachers,
.student-reviews,
.contact-us,
footer {
    width: 100%;
}

.logo,
.text-on-slider-mobile,
.basic-info,
.teacher-card,
.courses,
.review-cards,
.contact-us,
footer
.course-card-bigger {
    padding: 0 20px;
}
.start-journey-form{
    padding: 30px 20px;
}

@media only screen and (min-width: 768px){

    main {
        position: relative;
        margin-top: 0;
    }

    .all-teacher-cards{
        padding: 15px 0;
    }
    .contact-us {
        padding: 0 20px 50px 20px;
    }
    .text-on-slider-other-devices {
        padding: 0 20px 30px 20px;
    }
}

@media only screen and (min-width: 992px){
    .courses,
    .text-on-slider-other-devices,
    .basic-info,
    .start-journey-form,
    .one-row-courses,
    .review-cards,
    .contact-us,
    footer,
    header
     {
        padding: 0 calc((100% - 900px)/2);
    }
    .all-teacher-cards {
        padding: 0 calc((100% - 900px)/2) 100px calc((100% - 900px)/2);
    }
    .logo {
        padding-left: calc((100% - 900px)/2);
    }
}

