.teacher-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #f9f9f9;
}
.teacher-info {
    position: relative;
    bottom: 10px;
}
.teacher-headings {
    display: none;
}
.teacher-img {
    padding-top: 75px;
}
.teacher-img img {
    width: 100%;
}
.teacher-data {
    background-color: white;
    padding: 0 0 0 20px;
    height: 100px; 
    position: relative;
    bottom: 2px;  
}
.teacher-data p{
    position: relative;
    padding: 10px 0 0 0px;
    margin-top: 5px;
}
.teacher-name {
    font-size: 20px;
    padding-top: 15px;
    margin-bottom: 5px;
}
.teacher-social {
    background-color: white;
    height: 70px;
}
.teacher-social i{
    position: relative;
    left: 20px;
    margin-right: 15px;
    top: 25px;   
}

.teacher-about {
    background-color: #f9f9f9;
    position: relative;
    bottom:20px;
}
.teacher-about p {
    background-color: white;
    padding: 20px 20px;
    border-top: #f9f9f9 solid 2px;
    border-bottom: #f9f9f9 solid 2px;
}



@media only screen and (min-width: 768px){

.teacher-card {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-bottom: 20px;
    background-color: white;
   
}

.teacher-img img{
    width: 300px;
    height: 300px;
   position: relative;
   bottom: 35px; 
   left: 20px; 
}
.teacher-img {
    background-color: #f9f9f9;
    padding-right: 20px;
}
.teacher-info {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
    position: relative;
    top: 0px;
    width: 100%;
}



.teacher-data {
    background-color: white;
    margin: 0 20px;
    height: 100px; 
    width: 200px;
    position: relative;
    bottom: 2px;  
    align-items: center;
}
.teacher-data p{
    position: relative;
    left: 15px;
}
.teacher-name {
    font-size: 20px;
    padding-top: 15px;
    margin-bottom: 5px;
    width: 200px;
}
.teacher-social {
    background-color: white;
    margin: 0 20px;
    height: 70px;
    justify-content: center;
    width: 200px;
}
.teacher-social i{
    position: relative;
    left: 35px;
    margin-right: 15px;
    top: 25px;    
}
.teacher-about {
    background-color: white;
    border-top: none;
    border-bottom: none;
}
.teacher-about p{
    padding: 30px;
    border-top: none;
    border-bottom: none;
}
