.teachers {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}
.heading h1 {
    text-align: center;
}
.teacher-img img{
    width: 100%;
}

.teacher-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.teacher-data {
    background-color: white;
    height: 100px; 
    width: 100%;
    position: relative;
    bottom: 8px;  
}
.teacher-data p{
    position: relative;
    left: 35px;
    margin-top: 5px;
}
.teacher-name {
    font-size: 20px;
    padding-top: 15px;
    margin-bottom: 5px;
}
.teacher-social {
    background-color: white;
    height: 70px;
    margin-bottom: 30px;
    position: relative;
    bottom: 5px;
}
.teacher-social i{
    position: relative;
    left: 35px;
    margin-right: 15px;
    top: 25px;    
}

@media only screen and (min-width:768px){

    .teachers {
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .teacher-card {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 50%;
        padding:  0 20px;
    }
    .teacher-data p {
        width: 300px;
    }
}


@media only screen and (min-width:992px){

.teacher-card {
    
    padding: 0 15px  0 0;
    padding-bottom: 20px;
    width: 25%;
}
.teacher-img {
    padding-top: 20px;  
}
.teacher-data p {
    width: 160px;
    left: 15px;
}

}