header {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: solid 5px #29ca8e;
}
.logo {
    margin-top: 20px;
    font-size: 20px;
}
.nav {
    display: flex;
    flex-direction: column;
}
.nav a {
    text-decoration: none;
    display: block;
    color: black;
}
.nav li {
    list-style-type: none;
    text-align: center;
    padding: 5px 0;
}
.nav ul {
    display: block;
    padding: 0;
}
li:hover {
    background-color: #29ca8e;   
}
nav ul li:hover a{
    color: white;
}

@media only screen and (min-width:768px){
    
    header {
        flex-direction: row;  
        height: 65px;     
        align-items: center; 
    }
    header nav,
    header ul,
    header li {
        height: 65px;
    }
    .logo {
        margin-top: 10px;
        margin-bottom: 10px;
        align-self: center;
    }
    .nav ul {
        display: flex;
        align-items: center;
        margin: 0;
    }
    nav {
        position: relative;
        left: 30px;
    }
    .nav li {
        padding: 15px 15px;
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: 992px){

    header {
        height: 75px;
        justify-content: start;
        align-items: center;
    }
    .logo {
        margin: 0;
    }
    header nav,
    header ul,
    header li {
        height: 75px;
    }
    nav {
        position: relative;
        left: 150px;
    }
    nav a{
        align-self: center;
    }
    
}